<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">
    <meta charset='utf-8'>
  </head>
  <body>
    <h1>Hello From Afar</h1>
    <p>@Model.MakeModel is on sale!</p>
    <p>It was $@Model.Price, now it's $200 less!</p>
    <p>It has @Model.Miles miles!</p>
    <p>Cheers,</p>
    <p>Car Dealership</p>
  </body>
</html>
